<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="form-container">
            <h2>Login</h2>
            <form method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name"
                           class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password"
                           class="form-control" required />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="vm.loginUser()">Login</button>
                    <a ui-sref="register" class="btn btn-link">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>