<!DOCTYPE html>
<html ng-app="appFront">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- set base for relative links -->
    <base href="/">

    <title>Front App</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <!-- header -->
    <%- include('partials/header.html') %>

    <!-- main -->
    <main ui-view></main>

    <!-- footer -->
    <%- include('partials/footer.html') %>

    <!-- external scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/angular-ui-router.js"></script>
    <script src="/js/angular-jwt.js"></script>

    <!-- application scripts -->
    <script src="../app.js"></script>
    <script src="../modules/indexModule.js"></script>
    <script src="../modules/eventModule.js"></script>
    <script src="../modules/userModule.js"></script>
    <script src="../modules/profileModule.js"></script>
    <script src="../controllers/indexController.js"></script>
    <script src="../controllers/eventController.js"></script>
    <script src="../controllers/userController.js"></script>
    <script src="../controllers/profileController.js"></script>
    <script src="../services/userService.js"></script>
    <script src="../services/eventService.js"></script>
    <script src="../services/flashService.js"></script>
    <script src="../routers/indexRouter.js"></script>
    <script src="../routers/eventRouter.js"></script>
    <script src="../routers/userRouter.js"></script>
    <script src="../routers/profileRouter.js"></script>


</body>
</html>