<!DOCTYPE html>
<html ng-app="appFront">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Front App</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <script src="/js/angular.js"></script>
        <script src="/js/angular-route.js"></script>
        <script src="core.js"></script>

    </head>
    <body>
        Hello World!

        <ng-view></ng-view>

    </body>
</html>